In [37]:
import os
import pandas as pd
import numpy as np

In [16]:
samples=[[1,2,3],[4,5,6],[7,8,9]]

In [17]:
samples

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
matrix=pd.DataFrame(samples)

In [19]:
matrix

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
matrix.columns=['first','second','third']

In [23]:
matrix

   first  second  third
0      1       2      3
1      4       5      6
2      7       8      9

In [24]:
matrix.index=['a','b','c']

In [25]:
matrix

   first  second  third
a      1       2      3
b      4       5      6
c      7       8      9

In [27]:
type(matrix['first'])

pandas.core.series.Series

In [30]:
np.sum(matrix['first'])

12

In [31]:
matrix['first']+2

a    3
b    6
c    9
Name: first, dtype: int64

In [33]:
matrix

   first  second  third
a      1       2      3
b      4       5      6
c      7       8      9

In [32]:
matrix.loc['a']

first     1
second    2
third     3
Name: a, dtype: int64

In [35]:
matrix.loc[matrix['second']==5]

   first  second  third
b      4       5      6

In [40]:
matrix.to_csv('../results/proba.csv')

In [44]:
callback=pd.read_csv('../results/proba.csv',index_col=0)

In [45]:
callback

   first  second  third
a      1       2      3
b      4       5      6
c      7       8      9

In [43]:
matrix

   first  second  third
a      1       2      3
b      4       5      6
c      7       8      9

In [46]:
callback==matrix

   first  second  third
a   True    True   True
b   True    True   True
c   True    True   True

In [50]:
sample_matrix=pd.read_csv(r'Z:\balint\numt\Michael\data/numt_master_array.csv',index_col=0)

In [51]:
sample_matrix

,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence,g_up_flanking,g_down_flanking,"mt_up_flanking (if strand is negative, the coordinates are corrected)","mt_down_flanking (if strand is negative, the coordinates are corrected)",ensembl_gene_id,ensembl_description
score,,,,,,,,,,,,,,,,,,
17245,0.000000e+00,0.000000e+00,MT,0,0,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,NaN,NaN,TACAAATTGTATAATATTTGGACTAAACCCCCTTTCCCACCCCAAG...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,ENSOCUG00000029081,NaN
3398,0.000000e+00,0.000000e+00,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,ACAAAAGACTCTGAATAGCCAAAGCGATCCTGAACAAGAAAAATCA...,TATATATATTTATATATATATGTATATATGTACATATATATAACTA...,CCTTCGCCTCAAAACGAGAAGTAGAGACTATTGAACTAACAACCAC...,AACTGCTAATTCATGCTCCCATGTCTAACCCCATGGCTTTCTCAAC...,ENSOCUG00000006104,cilia and flagella associated protein 300 [Sou...
3120,0.000000e+00,0.000000e+00,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...,GATAAACCCCGATAAACTTTACCACTCTTTGCCAACTCAGCCTCTA...,ATGAAGGGGCAAAGAGTAATTTTACAGTCGAGAGGGCTAGCAGTCA...,TACCGCCATCTTCAGCGAACCCTAAAAAGGAGCAAAAGTAAGCTCA...,TAGGGGCTATTAACTTTATTACAACTATTATTAATATGAAAGCCCC...,ENSOCUG00000031196,NaN
1888,0.000000e+00,0.000000e+00,GL019308,62527,12805,3439,3462,+,+,88228,AATTATTCATAGCCTCAATGATGAACAAGACATCCAAAAAACAGGA...,AATTATTCACAGCCTcaaTGATGAACAGGATATCCGAAAGATAGGC...,GTAGGAATTATATCCTTCCTCCTCATCGGCTGATGGCATGGCCAAG...,ACGTATACATGAGTTGTTCTTACATAATTGAATATACCTGCAATGC...,TGCCTAGGCGCAATCACTACCTTATTCACAGCCCTATGTGCCCTCA...,GTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGTACAC...,ENSOCUG00000037635,NaN
1824,0.000000e+00,0.000000e+00,AAGW02081594,14016,6061,3040,3073,+,+,24576,TTCTTTGGACACCCTGAGGTATATATTCTTATCCTTCCAGGATTCG...,TTTTTCGGGCACCCCGAAGTATATATTCTTATTCTTCCAGGATTTG...,GACATGTCAAAGGAACGCAGAAGCCAGCTTGAAAAAGTCCTCAACA...,TGAAATAGCTATCACTATTCAGGTATGCCACTATTCTTCTAGGCAT...,ATATGAAAGCCCCTGCAATATCTCAATATCAAACCCCCTTATTCGT...,ATTCTCCTAGGTATCTATTTTACCCTACTTCAAGCATCGGAGTATT...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,2.800000e-21,5.000000e-25,GL019047,205885,9539,243,247,+,-,247428,GATCAGTTTTCAAAGTGCTTTTATGGTACTGA----AGTACAATAG...,GATCAGTTTTCGAAGTGTTTAAGTGGAACTATTTCGAGGACAATAG...,GCACTGATCCGAAGGCAGGAGCCAGGTGCTTCTCCTGGTCTCCCAT...,AGTTAGGGAGGAGTTGTTAATTTTGTCTGTTATGCATAGAGCTCAT...,TTTAATTGCGCTGCCCTCCCTACGAATCCTATATATAATAGATGAA...,CCTATCTATGATTTAGACTCGCTATGAAGCTAAACAGCGCTAGCCT...,NaN,NaN
77,7.500000e-20,1.300000e-23,AAGW02081404,17858,882,136,140,+,-,27691,GTACGTgcgtacgtgcgtacgggtgtacgggtgtacgggtgtacgg...,gtgcgtacgggtgtacgtgcgtgcgtacgggtgtacgtgcgtgcgt...,GCTCTGAGCTGTCTGACTTGGGGTGGGAAAGGGGGTTTAAATTTAG...,GTACGTGCGTACGTGCGTACGGGTGTACGGGTGTACGTGCGTGCGT...,ATCAGCCCATGCTCACACATAACTGTGATGTCATGCATTTGGTATT...,GCACGTACACCCGTACGCACGCACGTACACCCGTACGCACGCACGT...,NaN,NaN
75,6.700000e-19,1.200000e-22,GL019311,22172,5436,218,228,+,-,80506,ATAATTAGTCAAGTTATAGAGGAAGAAAATAG----ATTAGTTTTA...,ATAATTGATACAGCTACAGAGGTGGAGAATAAGTTAATTACTTTTA...,GGCTTCTGACTCTGCCCACTAATGCATATCTTGGGAAACAGCAGTA...,GTTTAAAATGTATGTGCCCTGGGGCTGGCGCGCTGGTGCAGTAGGT...,TAGGGACTAACGTCCTAATCACGGCCCTCTACTCCCTCTATATACT...,TATTTTAGTCCTCCCTATTGTGGCCTCTTTCACTAACATTTTTAAT...,NaN,NaN
74,2.000000e-18,3.600000e-22,21,11379492,15954,321,320,+,-,15578276,CTAATTCATTACGTAAAAAGATAAAAGGGTTAATCTTTGCTTTTTA...,CTAATTCATTATGCAAAAGG-TAAGAGAAGTAATCTCTGCTTTTTT...,TTATACTTTACTGCGGTGTTCTCAGTAGTGCACTACTTTGAATACA...,GCATGTTTAAGTTTATGATTTAAATTTAAATTAGCTTAGGTTGGCT...,GTGGAGAGCAATGGGCTACATTTTCTACTTCAGAATATACGAAAGC...,CTAGAAAATCCTTAGCAAAAAGAATTTTAGTTAAGAACCCCGAAAC...,ENSOCUG00000017525,mediator complex subunit 13L [Source:HGNC Symb...
73,6.000000e-18,1.100000e-21,GL018744,673556,4478,319,330,+,-,2220855,GTGCCTGCAGATGTAGAGAAAAACTGAGTGTGGCTGATTAACGCCA...,GTGGGTGCAGATGTGGAGAAATGCCAGGTGTGGTTGGTTAATTCCG...,GGCAGAGAGCAGGTCAGGAGCCGCGTGCGGGGAGTCCCAGGCCAGA...,ACTACTGCTGTTAGGAGGAGCCGCGTTAATGGGAATGAATCGGGGT...,GCTGATGACACGGGCGAACAGATGCCAATACTGCAGCCTTACAAGC...,GCCTTCTTCAAAGCTATGCTCTTTCTCTGCTCCGGCTCAATTATTC...,ENSOCUG00000015945,MCC regulator of WNT signaling pathway [Source...